<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaping the Future of Sustainable Finance</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project/styles.css' %}">
</head>
<body>

    <header>
        <div class="navbar">
            <div class="logo">Pothos</div>
            <div class="nav-links">
                <a href="#">About</a>
                <a href="/dashboard/">Sign in</a>
            </div>
        </div>
    </header>

    <section class="hero-section">
        <div class="hero-content">
            <h1>Shaping the Future of <br>Sustainable Finance</h1>
            <a href="#content-section" class="learn-more">Learn more</a> 
        </div>
    </section>

    <section id="content-section" class="content-section">
        <div class="problem-solution">
            <div class="problem-box">
                <h3>What is a Sustainability-Linked Loan?</h3>
                <p>
                    1. Terms are tied to sustainability performance <br>
                    2. Based on key performance indicators (KPIs) <br>
                    3. Corporate responsibility and ESG criteria are growing concerns <br>
                    4. Reputation boost for businesses aligning with ESG trends <br>
                    5. Improved financing for sustainable borrowers
                </p>
            </div>
            <hr class="section-divider">
    
            <div class="problem-box">
                <h3>Problem</h3>
                <p>
                    SLLs are usually for large companies where terms are custom-created <br>
                    KPIs can be difficult to keep track of
                </p>
            </div>
            <hr class="section-divider">
    
            <div class="solution-box">
                <h3>Solution</h3>
                <p>
                    1. B2B SaaS Solution allowing small businesses to apply directly for SLLs <br>
                    2. Automatically comes up with terms <br>
                    3. Keeps track of SDG performance and standing
                </p>
            </div>
            <hr class="section-divider">
        </div>
    </section>

    <footer>
        <a href="/register/">
            <button class="get-started">Get Started!</button>
        </a>
    </footer>

</body>
</html>